<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Saving</title>
</head>
<body>
<p th:text="${card.id}"></p>
<p th:text="${card.money}"></p>
<p th:text="${card.percent} + '%'"></p>
<p th:text="${card.date}"></p>

<!--    <a th:href="">Take credit</a>-->
<a th:href="@{/debit/transfer/to_saving}">Accrue</a>
<a th:href="@{/saving/transfer/to_debit}">Transfer to debit card</a>
</body>
</html>