<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{css/errorStyle.css}">
    <title>Take credit</title>
</head>
<body>
<p th:if="${#lists.isEmpty(creditCards)}">Seems you don't have any credit card. Stay <a th:href="@{/newCreditRequest}">request</a>
    for new credit card</p>
<form th:method="POST" th:unless="${#lists.isEmpty(creditCards)}">
    <label for="id">Credit Card: </label>
    <select id="id" th:name="id">
        <option th:each="cc : ${creditCards}" th:text="${cc.id} + ' ' + ${cc.moneyLimit} + ' ' + ${cc.percent} + '%'"
                th:value="${cc.id}"/>
    </select>

    <label for="money">Money to borrow: </label>
    <input id="money" placeholder="Money must be less or equals limit credit card" th:name="money" type="number">
    <div class="error" th:text="${flag}" th:unless="${flag == ''}"/>

    <input type="submit" value="Borrow">
</form>
</body>
</html>