<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/errorStyle.css}">
    <title>Search</title>
</head>
<body>
<form th:action="@{/admin/search}" th:method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" th:field="${name_surname.text}" type="text">

    <label for="surname">Surname:</label>
    <input id="surname" name="surname" th:field="${name_surname.text}" type="text">

    <div class="error" th:errors="${name_surname.text}" th:if="${#fields.hasErrors('name_surname.text')}"/>

    <button type="submit">Search</button>
</form>
</body>
</html>