<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Log in</title>
</head>
<body>
<form th:method="post">
    <label for="username">Email: </label>
    <input id="username" th:name="username" type="text">

    <label for="password">Password: </label>
    <input id="password" th:name="password" type="text">

    <input type="submit" value="Login">
</form>
</body>
</html>