<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/css/errorStyle.css}">
    <title>Register</title>
</head>
<body>
<form th:method="POST">
    <div th:object="${newPassport}">
        <label for="name">Name:</label>
        <input id="name" name="name" th:field="*{name}" type="text">

        <br>

        <label for="surname">Surname:</label>
        <input id="surname" name="surname" th:field="*{surname}" type="text">

        <br>

        <label for="birth">Date of birth:</label>
        <input id="birth" name="dateBirth" th:field="*{dateBirth}" type="date">

        <br>

        <label for="series">Series:</label>
        <input id="series" name="series" th:field="*{series}" type="number">
        <div th:errors="*{series}" th:if="${#fields.hasErrors('series')}"></div>

        <br>

        <label for="number">Number:</label>
        <input id="number" name="number" th:field="*{number}" type="number">
        <div th:errors="*{number}" th:if="${#fields.hasErrors('number')}"></div>
        <!--            <div th:if="${#fields.hasErrors('login')}">-->
        <!--                <p>Login error</p>-->
        <!--            </div>-->

        <!--    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
        <!--    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>-->
        <br>
    </div>

    <br>
    <br>
    <br>

    <div th:object="${newAccount}">
        <!--            <div th:if="${#fields.hasErrors('*')}">-->
        <!--                <p th:each="err : ${#fields.errors('*')}" th:text="${err.}"></p>-->
        <!--            </div>-->

        <label for="login">Login:</label>
        <input id="login" name="login" th:field="*{login}" type="email">
        <div class="error" th:errors="*{login}" th:if="${#fields.hasErrors('login')}"/>

        <br>

        <label for="password">Password:</label>
        <input id="password" name="password" th:field="*{password}" type="password">
        <div class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"/>

        <br>

        <label for="role">Role:</label>
        <select id="role" name="role" th:field="*{role}">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select>

        <!--    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
        <!--    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>-->
    </div>


    <input type="submit" value="Create"/>
</form>
</body>
</html>