<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!--    <link rel="stylesheet" th:href="@{/css/errorStyle.css}">-->
    <title>New Debit Card</title>
</head>
<body>
<p>This is AGREEMENT!</p>
<form th:method="post">
    <label for="agree">I have read the agreement </label>
    <input id="agree" th:name="agree" type="checkbox">
    <div class="error" th:text="${flag}" th:unless="${flag == ''}"/>
    <br>
    <input type="submit" value="Create">
    <br>
    <a th:href="@{/}">CANCEL</a>
</form>
</body>
</html>