<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Transfer</title>
</head>
<body>
<form th:method="POST">
    <div>
        <label for="from">From:</label>
        <select id="from" th:name="from">
            <option th:each="debitCard : ${debitCards}" th:text="${debitCard.id} + ' ' + ${debitCard.money}"
                    th:value="${debitCard.id}"/>
        </select>
    </div>

    <br>

    <div>
        <label for="to">To:</label>
        <input id="to" list="debitCards" th:name="to" type="text">
    </div>

    <datalist id="debitCards" name="debitCards">
        <option th:each="debitCard : ${debitCards}" th:text="${debitCard.id} + ' ' + ${debitCard.money}"
                th:value="${debitCard.id}"/>
    </datalist>

    <br>

    <div>
        <label for="money">Money:</label>
        <input id="money" th:name="money" type="number"/>
    </div>

    <br>

    <input type="submit" value="Transfer"/>
</form>

</body>
</html>