<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transfer</title>
</head>
<body>
<form th:method="POST">
    <div>
        <label for="from">From:</label>
        <select th:name="from" id="from">
            <option th:each="debitCard : ${debitCards}" th:value="${debitCard.id}" th:text="${debitCard.id} + ' ' + ${debitCard.money}"/>
        </select>
    </div>

    <br>

    <div>
        <label for="to">To:</label>
        <input type="text" id="to" th:name="to" list="debitCards">
    </div>

    <datalist name="debitCards" id="debitCards">
        <option th:each="debitCard : ${debitCards}" th:value="${debitCard.id}" th:text="${debitCard.id} + ' ' + ${debitCard.money}"/>
    </datalist>

    <br>

    <div>
        <label for="money">Money:</label>
        <input type="number" id="money" th:name="money"/>
    </div>

    <br>

    <input type="submit" value="Transfer"/>
</form>

</body>
</html>